.navbar{
    background: #162b45; /* 17S colors */
}
.nav-link , .navbar-brand{
    color: white;
    cursor: pointer;
    font-size: .875rem;
}
.nav-link{
    margin-right: 1em !important;
}
.nav-link:hover{
    background: white;
    color: #162b45;
}
.navbar-collapse{
    justify-content: flex-end;
}
.navbar-toggler{
    background: white !important;
}
/*header style*/
.header{
    /*background-image: url("http://placekitten.com/1920/1200");*/
    background-image: url("../img/joao-silas-74207-unsplash.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(245, 245, 245, 0.3);
}
.description{
    background-color: lightgray;
    position: absolute;
    top: 30%;
    margin: auto;
/*    padding: 2em;*/
    max-width: 700px;
}
.description h3{
    color: #162b45;
    align-content: center;
}
.description p{
    color:gray;
    font-size: 20px;
    width: 100%;
    line-height: 1.5;
    align-content: center;
}
.description button{
    border:1px  solid #162b45;
    background: #162b45;
    color:white;
    align-content: center;
}

.card{
    width: 100%;
    position: absolute;
    top: 30%;
    max-width: 700px;
}
